<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'resources/base.html' %}
    {% block content %}
    <h1>home</h1>
    <p>Lorem ipsum dolor, sit amet consectetur
         adipisicing elit. Id libero debitis recusandae temporibus
        deserunt unde reiciendis perspiciatis saepe odit dignissimos
        voluptatibus reprehenderit rem eaque vel doloremque magnam maxime architecto
        eius culpa cumque error, minima inventore commodi nisi! Omnis ullam explicabo 
        harum quo a! Facere quis, natus ipsum vero vitae quod, nulla omnis saepe velit
        obcaecati praesentium provident. Ab magnam alias maxime dicta nulla harum accusantium
        cupiditate ullam beatae assumenda temporibus, deserunt explicabo consectetur natus tota
        m aliquam blanditiis asperiores tempora adipisci fugiat? Placeat incidunt quibusdam sint
        sit amet quod necessitatibus, voluptates laborum architecto natus sunt. Eos exercitationem re
        aliquid soluta quam.</p>
    {% endblock %}
</body>
</html>
